.title{
  fontSize:30;
  color:black;
}
.contentStyle{
  width: 100%;
  height: 46px;
  line-height: 46px;
  color: black;
  textAlign: center;
  display:flex;
  justifyContent:center;
  alignItems:'center';
  margin:0;
  fontSize:50
}
.right{
  width: 100%;
  display:flex;
  alignItems:center;
  line-height: 46px;
  color:black;
  justify-content: space-evenly;
  align-items: center;
}

.site-form-in-drawer-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}
.btn{
  margin-bottom: 20px;
}
